/* 
Style du reset
*/
    @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

    *{
        /* Supprimer toutes les marges */
        margin: 0;
        padding: 0;

        /* Intégrer les bordures et les paddings dans la taille des blocs */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html{
        font-size: 62.5%; /* 1rem = 10px */
    }

    body{
        font-family: 'Times', serif;
        font-size: 1.5rem; /* => 15px */
        text-align: center;
        color: white;
        background-color: #131313;

        /* Gestion de l'image de fond */
        background-image: url('../img/background.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    h1, h2, h3{
        font-family: 'Arial', sans-serif;
    }

    h1, h2{
        text-transform: uppercase;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    ul{
        list-style: none;
    }

    img{
        max-width: 100%;
    }
/**/

/* 
Style header
*/
    header img{
        width: 5rem;
    }

    nav {
        text-align: left;
        color: #9c9c9c;
        padding: 4rem;
        border-left: .1rem solid #434343;
        background-color: #131313;
        height: 100vh;

        /* Figer la nav en haut à droite de la page */
        position: fixed;
        top: 0;
        right: -25rem;

        -webkit-transition: right .5s;
        transition: right .5s;
    }

    /* Ajouter la class open sur la nav au clique sur le burger */
    nav.open{
        right: 0;
    }

    li{
        margin-bottom: 1rem;
    }

    nav li:first-child{
        font-size: 2rem;
        font-family: 'Arial', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        color: white;
        margin-bottom: 2rem;
    }

    nav li:last-child{
        margin-top: 3rem;
    }

    header section {
        max-width: 90rem;
        margin: auto;
        height: 100vh;

        /* Bloquer les enfants dans le parent */
        position: relative;
    }

    header section a:first-of-type{
        /* Sortir la balise du flux */
        position: absolute;
        top: 2rem;
        left: 0;
    }

    header section a:last-of-type {
        font-size: 3rem;
        color: #bababa;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 1rem 1.5rem;
        
        /* Sortir la balise du flux */
        position: absolute;
        top: 2rem;
        right: 0;
    }

    h1 {
        font-size: 6rem;
        font-weight: 900;
        line-height: 1;
        width: 100%;
        max-width: 50rem;

        /* Sortir la balise du flux pour la repositionner */
        position: absolute;
        top: 50%;
        left: 50%;

        /* CSS3 : utilisation des constructeurs */
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    h1 span {
        font-family: 'Times', serif;
        font-weight: 100;
        font-size: 2.5rem;
        display: block;
    }
/**/

/* 
Style main
*/
    section{
        padding: 10rem 0;
    }

    h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    main ul{
        max-width: 35rem;
        margin: 0 auto 2rem auto;
    }

    main{
        max-width: 90rem;
        margin: auto;
    }

    main article{        
        display: -webkit-flex;
        display: flex;

        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        flex-wrap: wrap;

        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between;
    }

    figure{
        width: 30%;
        cursor: pointer;
        margin-bottom: 3rem;

        /* Bloquer les enfants dans le parent */
        position: relative;
    }

    

    figcaption {
        font-size: 2rem;
        background: rgba(19, 19, 19, .5);
        padding: 2rem;
        width: 60%;

        opacity: 0;
        margin-top: -2rem;

        position: absolute;
        top: 50%;
        left: 50%;

        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        -webkit-transition: all .5s;
        transition: all .5s;
    }

    figure:hover figcaption{
        margin-top: 0;
        opacity: 1;
    }

    

    figcaption span {
        font-family: 'Arial', sans-serif;
        font-size: 1.5rem;
        text-transform: uppercase;

        display: block;
        background: #131313;
        padding: 1rem 0;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 3.5rem;
        color: #eea136;
        margin: 6rem auto 1rem auto;
    }

    form{
        max-width: 40rem;
        margin: auto;
    }

    input, textarea, button{
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        padding: 1rem;
    }

    textarea{
        min-height: 20rem;
    }

    .callToAction{
        font-size: 1.7rem;
        font-weight: 500;
        color: #131313;
        background-color: #eea136;
        padding: 1rem;
        
        border: none;
        border-bottom: .5rem solid #9d6924;

        -webkit-transition: all .5s;
        transition: all .5s;
    }

    .callToAction:hover{
        background-color: white;
        border-color: white;
    }
/**/

/* 
Style footer
*/
    footer{
        opacity: .7;
        padding: 2rem;
    }
/**/